---
import { Image } from "astro:assets";
import { ImageMetaData } from "astro";
import Modal, { type Media } from "./react/Modal";
import "../styles/GalleryItem.css"

interface Props {
    src: ImageMetaData | string;
    isVideo: boolean;
    title: string;
    tags?: string[];
    description?: string;
    blogLink?: string;
    additionalMedia?: Media[];
}
const { src, isVideo, title, tags, description, blogLink, additionalMedia } =
    Astro.props;
---

<div id="item-container">
    <Modal
        client:load
        title={title}
        tags={tags}
        description={description}
        media={{dataPath: isVideo ? src : src.src, isVideo: isVideo}}
        additionalMedia={additionalMedia}
        blogLink={blogLink}
    >
        {
            !isVideo ? (
                <Image id="modal-view" src={src} alt={title} />
            ) : (
                <video id="modal-view" src={src} autoplay muted loop playsinline preload="auto" />
            )
        }
    </Modal>
</div>
