---
import GalleryItem from "./GalleryItem.astro";
import "../styles/Main.css";
import "../styles/MainMobile.css";
import { Image } from "astro:assets";
import Hashtag from "./react/Hashtag"

// import images
import pfp from "../assets/new_pfp.png";
import twitter from "../assets/icons/twitter.png";
import bluesky from "../assets/icons/bluesky.png";
import instagram from "../assets/icons/instagram.png";
import itchio from "../assets/icons/itchio.png";
import bork from "../assets/icons/bork.png";

// PicoCAD Shader
import fanta1 from "../assets/portfolio_pieces/fanta/picocad-shader-demo.webm";
import fanta2 from "../assets/portfolio_pieces/fanta/picocad-shader-graph.webm";

// Compositor Outline
import trophy1 from "../assets/portfolio_pieces/trophy/compositor_demo.png";
import trophy2 from "../assets/portfolio_pieces/trophy/compositor_demo.webm";
import trophy3 from "../assets/portfolio_pieces/trophy/outline_concept.webm";

// WattStop
import wattstop1 from "../assets/portfolio_pieces/wattstop/watt-stop-demo.webm";
import wattstop2 from "../assets/portfolio_pieces/wattstop/background_demo_v2.png";
import wattstop3 from "../assets/portfolio_pieces/wattstop/asset_workspace.mp4";

// Clouds
import cloud1 from "../assets/portfolio_pieces/misc_pixelart/cowboy_desert.png";
import cloud2 from "../assets/portfolio_pieces/misc_pixelart/yellow_plane.png";

// Lich
import lich from "../assets/portfolio_pieces/misc_pixelart/lich.mp4";
import hornydude from "../assets/portfolio_pieces/misc_pixelart/horny_dude.png";

// Fire Monk
import monk1 from "../assets/portfolio_pieces/fire_monk/fire1gbg.mp4"
import monk2 from "../assets/portfolio_pieces/fire_monk/atk_2.mp4"
import monk3 from "../assets/portfolio_pieces/fire_monk/atk_1.mp4"
import monk4 from "../assets/portfolio_pieces/fire_monk/explosion_spritesheet.png"

// Slick Road
import slick1 from "../assets/portfolio_pieces/slick_road/jacket-demo-Trim.webm"
import slick2 from "../assets/portfolio_pieces/slick_road/cover_big.png"
import slick3 from "../assets/portfolio_pieces/slick_road/slick_road_dev.png"
import slick4 from "../assets/portfolio_pieces/slick_road/snowman_full_sheet.png"

// Water Color
import watercolor1 from "../assets/portfolio_pieces/misc_pixelart/quartz_bush_rev.png";
import watercolor2 from "../assets/portfolio_pieces/misc_pixelart/grassy_berge_sq.png";
import watercolor3 from "../assets/portfolio_pieces/misc_pixelart/message_recolor.png";

// Squidy
import squidy from "../assets/portfolio_pieces/misc_pixelart/shell_car.mp4";

// Misc
import magic from "../assets/portfolio_pieces/misc_pixelart/magic_hallows.mp4";
import starfield from "../assets/portfolio_pieces/misc_pixelart/new_tileset_sample.png";
import miles from "../assets/portfolio_pieces/misc_pixelart/miles_concept.png";

const gallery = [
    {
        data: fanta1,
        title: "Mock PicoCAD Shader",
        tags: ["techart", "blender"],
        description: "This was a practice project I started working on to get some experience with low poly modeling and shader creation in Blender.",
        isVideo: true,
        blogLink: "",
        additionalMedia: [
            {
                dataPath: fanta2,
                isVideo: true
            },
        ],
    },
    {
        data: wattstop1,
        title: "Making WattStop",
        tags: ["gamedev", "pixelart"],
        description: " \
            I'm making a game called WattStop, where you play as an underpaid pitstop tech. Your job is to keep the charging station running smoothly so you don't get fired.\
            \n Originally, this project for was a submission for the Bigmode 2025 Game Jam, but I decided to make into a full fledged game as I came up with more and more ideas for it. You can follow the development process on my blog if you're interested. \
            ",
        isVideo: true,
        blogLink: "https://blog.borkdotexe.com/index.html",
        additionalMedia: [
            {
                dataPath: wattstop3,
                isVideo: true,
                caption: "New assets for an update"
            },
            {
                dataPath: wattstop2.src,
                isVideo: false,
                caption: "Giving the main scene a makeover"
            }
        ],
    },
    {
        data: trophy2,
        title: "Compositor Outline Technique",
        tags: ["blender", "techart"],
        description: "\
                        This was a little project that I made for a kickball flyer. I was trying different ways to achieve this kinda toony outline look and \
                        I ended up using some object modifiers, view layers, and the compositor to get something that I was happy with.\
                    ",
        isVideo: true,
        blogLink: "",
        additionalMedia: [
            {
                dataPath: trophy1.src,
                isVideo: false,
                caption: "Compositor node tree"
            },
            {
                dataPath: trophy2,
                isVideo: true,
                caption: "This is basically the idea"
            }
        ],
    },
    {
        data: cloud1,
        title: "Cloud Study #1",
        tags: ["pixelart"],
        description: "Part of an illustration series I was working to practice rendering clouds.",
        isVideo: false,
        blogLink: "",
    },
    {
        data: cloud2,
        title: "Cloud Study #2",
        tags: ["pixelart"],
        description: "Part of an illustration series I was working to practice rendering clouds.",
        isVideo: false,
        blogLink: "",
    },
    {
        data: lich,
        title: "The Lich",
        tags: ["pixelart"],
        description: "Part of a series I started working on. I want to create a game or story based around a cast of necromancer skeleton characters.",
        isVideo: true,
        blogLink: "",
        additionalMedia: [
            {
                dataPath: hornydude.src,
                isVideo: false,
                caption: "Unfinished character. He'll be the tankiest of the group."
            }
        ],
    },
    {
        data: monk1,
        title: "Fire Mage",
        tags: ["pixelart"],
        description: "This is another character for a game idea that I had. Some kind of wizard/mage Beat 'Em Up.",
        isVideo: true,
        blogLink: "",
        additionalMedia: [
            {
                dataPath: monk2,
                isVideo: true,
            },
            {
                dataPath: monk3,
                isVideo: true,
            },
            {
                dataPath: monk4.src,
                isVideo: false,
            },
        ],
    },
    {
        data: slick1,
        title: "Slick Road Ahead",
        tags: ["gamedev", "pixelart"],
        description: "This was a submission for the Bigmode 2026 Game Jam that I worked on with my friend. I handled the animation/art related coding and I did all of the art for the game.",
        isVideo: true,
        blogLink: "",
        additionalMedia: [
            {
                dataPath: slick2.src,
                isVideo: false,
            },
            {
                dataPath: slick3.src,
                isVideo: false,
            },
            {
                dataPath: slick4.src,
                isVideo: false,
            },
        ],
    },
    {
        data: watercolor1,
        title: "Watercolor Style Study",
        tags: ["pixelart"],
        description: "A small series of pieces I made to study one of my favorite pixel artists. (franek_pixelart)",
        isVideo: false,
        blogLink: "",
        additionalMedia: [
            {
                dataPath: watercolor2.src,
                isVideo: false,
            },
            {
                dataPath: watercolor3.src,
                isVideo: false,
            }
        ],
    },
    {
        data: squidy,
        title: "Shell Car Squidward",
        tags: ["pixelart"],
        description: "Silly animation practice that I did a long time ago.",
        isVideo: true,
        blogLink: "",
    },
    {
        data: magic,
        title: "Miscellaneous Concept Work",
        tags: ["pixelart"],
        description: "These are random concepts that I made for previous game project ideas.",
        isVideo: true,
        blogLink: "",
        additionalMedia: [
            {
                dataPath: starfield.src,
                isVideo: false,
            },
            {
                dataPath: miles.src,
                isVideo: false,
            }
        ],
    },
]
---

<div id="container">
    <div id="content-grid">
        <div id="sidebar">
            <div id="profile-header">
                <div id="portrait-background">
                    <Image src={pfp} alt="portrait" width={176} height={176} />
                </div>
                <h2>James "Jame" Bryant</h2>
                <div id="header-about">
                    <p>Hi, I'm a software developer / game developer / pixel artist</p>
                </div>
            </div>
            <div id="card-content">
                <div id="info-content">
                    <h4 id="skills-header">Skills:</h4>
                    <div id="bullet-list">
                        <ul>
                            <li>Unity Development / C#</li>
                            <li>2D and 3D Asset Creation</li>
                            <li>Pixel Art / Animation</li>
                        </ul>
                        <ul>
                            <li>Mobile and Web Development</li>
                            <li>Shaders / Post Processing</li>
                            <a href="/James_Bryant_Software_Developer.pdf">{"Resume >"}</a>
                        </ul>
                    </div>
                    <div id="social-links">
                        <a href="https://www.instagram.com/b0rk.exe/"><Image src={instagram} alt="instagram link" width={20} height={20}></a>
                        <a href="https://x.com/b0rkdotexe"><Image src={twitter} alt="twitter link" width={20} height={20}></a>
                        <a href="https://bsky.app/profile/b0rkdotexe.bsky.social"><Image src={bluesky} alt="bluesky link" width={20} height={20}></a>
                        <a href="https://borkdotexe.itch.io/"><Image src={itchio} alt="itchio link" width={20} height={20}></a>
                        <a href="https://blog.borkdotexe.com/index.html"><Image src={bork} alt="blog link" width={20} height={20}></a>
                    </div>
                    <p id="email">jame.bryant@borkdotexe.com</p>
                </div>
                <div id="footer">
                    <p>Designed and built in <a href="https://code.visualstudio.com/"><strong>Visual Studio Code</strong></a> by Jame. Built with <a href="https://astro.build//"><strong>Astro</strong></a> and <a href="https://react.dev/"><strong>React</strong></a>. Deployed with <a href="https://docs.github.com/en/pages"><strong>Github Pages</strong></a>.</p>
                </div>
            </div>
        </div>
        <div id="gallery-container">
            <div id="grid-container">
                <div id="gallery-grid">
                    {gallery.map(item => (
                        <GalleryItem src={item.data} isVideo={item.isVideo} title={item.title} tags={item.tags} description={item.description} blogLink={item.blogLink} additionalMedia={item.additionalMedia} />
                    ))}
                </div>
            </div>
        </div>
    </div>
</div>
